body{
    height:1500px;
}
.row1{
    height: 100px;
    width:200px;
    background-color:cadetblue;
    left:75%;
    position:fixed;
    /* fixed - there will not be any change.,if you scroll*/
}

.col1{
    height:100px;
    width:500px;
    background-color: coral;
    position: sticky;
    /* sticky - will be sticking on top by the pixels you gave, till that it will scroll*/
    top:5px;
}
.l{
    height:200px;
    width:400px;
}